/* ========== GLOBAL STYLES ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}

/* ========== NAVBAR STYLES ========== */
.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  padding: 10px 0;
  border-radius: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;
}

.logo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  background-color: transparent;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.nav-links li a {
  color: rgba(194, 193, 193, 0.8);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  font-family: "jura", sans-serif;
}

.nav-links li a:hover {
  color: #d1b652;
}

/* Book a Meeting Button */
.btn-link {
  background-color: #ffffff;
  color: #000000;
  padding: 12px 28px;
  font-weight: 600;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-link:hover {
  background-color: #fcfbf8;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(253, 185, 19, 0.4);
  color: #000;
}
/*herosection*/
/* herosection */
.Hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 0 80px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.hero-left {
  position: absolute;
  left: 80px;
  bottom: 60px;
}

.subtitle {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: #555;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.subtitle:hover {
  color: #d1b652;
  transition: color 0.5s ease;
}
.Based {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: #555;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.Based:hover {
  color: #d1b652;
  transition: color 0.5s ease;
}
.Hero-content {
  text-align: right;
}

.Hero-content h1 {
  font-size: clamp(120px, 18vw, 240px);
  color: #ffffff;
  margin-bottom: 0;
  font-weight: lighter;
  line-height: 0.85;
  font-family: "Permanent Marker", cursive;
}
.Hero-content h1:hover {
  color: #d1b652;
  transition: color 0.5s ease;
}
.About {
  color: #ffffff;
  justify-content: flex-start;
  padding: 0 60px;
  font-family: "permanent marker", cursive;
}
.About h2 {
  font-size: clamp(60px, 10vw, 80px);
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  gap: 20px;
}
